body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 16px 200px;
}

.header .homepage {
    font-weight: bold;
    margin-right: auto;
    font-size: 24px;
}

.header .right-links {
    font-size: 18px;
}

.main-content {
    display: flex;
    background-color: #1F2937;
    height: 480px;
    align-items: center;
    justify-content: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    width: 420px;
    margin-bottom: auto;
    padding: 16px 0px;
}

.main-title {
    font-size: 48px;
    width: 280px;
    font-weight: bold;
    color: #F9FAF8;
}

.main-text {
    font-size: 18px;
    color: #E5E7EB;
    padding: 8px 0;
}

.main-image {
    display: flex;
    width: 1032px;
    padding: 0px;
    align-items: center;
    justify-content: space-between;
}

.main-image img {
    height: 260px;
    width: 520px;
}

.second-content {
    display: flex;
    height: 480px;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    margin-top: 52px;
    margin-bottom: 52px;
}

.card-container {
    display: flex;
    width: 1032px;
    gap: 52px;
    justify-content: center;
}

.card-text {
    display: flex;
    width: 1032px;
    gap: 64px;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.text {
    display: flex;
    font-size: 18px;
    width: 160px;
    height: 160px;
    justify-content: center;
    color: #1F2937;
    text-align: center;
}

.card {
    display: flex;
    width: 160px;
    height: 160px;
    border-radius: 15px;
    border: 4px solid #3882F6;
}

.third-content {
    display: flex;
    background-color: #E5E7EB;
    height: 480px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.third-content .text {
    font-style: italic;
    font-size: 36px;
    text-align: center;
    width: 1032px;
    color: #1F2937;
}

.third-content .author {
    font-size: 36px;
    text-align: end;
    width: 1032px;
    margin-top: -52px;
    color: #1F2937;
    font-weight: bold;
}

button {
    width: 140px;
    height: 42px;
    border-radius: 5px;
    padding: 8px 24px;
    background-color: #3882F6;
    color: #f8f8f8;
    font-weight: bold;
    border-style: none;
    text-align: center;
    font-size: 18px;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 48px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}